.outline {
    border: 1px solid rgba(50,50,50,.5);
}

.height-100 {
    height: 100%;
}

.messages {
    background: rgb(0, 0, 0, .0);
    color: black;
    position: absolute;
}

.messages-container {
    overflow-y: scroll;
}

#message-input {
    background: rgba(0, 0, 0, .1)
}

.chat-form {
    background: rgb(0, 0, 0, .0);
}

.userlist {
    background: rgb(0, 0, 0, .1);
    color: black;
}

.imagedoge {
    border-radius: 50%;
    width: 64px;
    height: 64px;
    /* border: 1px solid rgba(0,0,0,.5); */
}

.image-small {
    width: 32px;
    height: 32px;
}

.linebreak {
    white-space: pre-line;
}