.col-left * .avatar {
    width: 64px;
    height: 64px;
}

.col-right * .avatar {
    width: 64px;
    height: 64px;
}

.col-left {
    /* background: rgba(0,255,0,.5); */
    min-height: 0;
}

.userlist {
    background: rgb(0, 0, 0, .1);
}

.wrap {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

.content-wrapper {
    min-height: 0;
}

.overflow-container {
    flex: 1;
    overflow: auto;
}


@media (min-width: 576px) {
    
}